            /* ------------header------------- */
            
            #nav-bar {
                background-color: black;
                padding-bottom: 5px;
                position: fixed;
                width: 100%;
                z-index: 2;
            }
            
            .nav-bar-cont {
                color: white;
                text-decoration: none;
                font-size: 20px;
                padding: 30px 24px;
            }
            
            .nav-bar-cont:hover {
                background-color: rgb(196, 192, 192);
            }
            
            #drop-down {
                font-size: 35px;
                position: absolute;
                padding-top: 10px;
            }
            
            #search-icon {
                float: right;
                color: white;
                text-decoration: none;
                font-size: 30px;
                transform: rotate(270deg);
                padding: 8px 18px;
            }
            
            #search-icon:hover {
                background-color: red;
            }
            /* ------------main------------- */
            
            section {
                text-align: justify;
            }
            /* ------------section-1------------- */
            
            #sec-1 {
                width: 100%;
            }
            
            #chicago-img-div {
                position: relative;
            }
            
            #chicago-img {
                width: 100%;
            }
            
            #chicago-disc-div {
                line-height: 2;
                text-align: center;
                position: absolute;
                right: 510px;
                bottom: 40px;
            }
            
            #chicago-h2 {
                font-size: 30px;
                color: white;
            }
            
            #chicago-p {
                font-weight: bold;
                color: white;
            }
            /* ------------section-2------------- */
            
            #sec-2-h {
                font-size: 30px;
                text-align: center;
                margin: 10px 0px;
                padding: 64px 16px 0px 0px;
            }
            
            #sec-2-p {
                text-align: center;
                margin: 15px 0;
                color: gray;
            }
            
            #sec-2-p2 {
                text-align: justify;
                margin: 0px 274.5px;
                line-height: 1.5;
            }
            
            .band-img {
                display: inline-block;
                text-align: center;
                margin-top: 50px;
                margin-bottom: 80px;
            }
            
            .band-p {
                padding-bottom: 15px;
            }
            
            .band-pic {
                width: 60%;
            }
            
            #first-img {
                padding-left: 290px;
            }